.postContainer {
    display: flex;
    flex-direction: column;
    /*border: 1px black solid;*/
    /*padding: 4px;*/

    padding: 8px;
    padding-bottom: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.globalTopInformationsContainer {
    display: flex;
    flex-direction: row;
}

.topInformationsContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.imageAndDateContainer {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
}

.iconsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
    visibility: hidden;
}

.postContainer:hover .iconsContainer{
    visibility: visible;
}

.titlePostContainer {
    flex: 1;
    font-weight: 100;
    font-weight: bold;
    font-size: 30px;
}

.dateLastModificationPost {
    font-size: 15px;
}

.icon {
    padding: 10px;
    font-size: 30px;
    color: rgb(0, 106, 255);
}

.categoryPost {
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 106, 255);
}

.descriptionPost {
    font-size: 25px;
}

.seeMoreDescriptionPost {
    width: fit-content;
    text-align: center;
    text-decoration:underline;
    color: rgb(119, 119, 119);
    cursor: none;
    margin-left: auto;
    margin-right: auto;
}

.seeMoreDescriptionPost:hover {
    cursor: pointer;
}

.seeLessDescriptionPost {
    width: fit-content;
    text-align: center;
    text-decoration:underline;
    color: rgb(119, 119, 119);
    cursor: none;
    margin-left: auto;
    margin-right: auto;
}

.seeLessDescriptionPost:hover {
    cursor: pointer;
}

.text {
    font-family: "Roboto", sans-serif;
}

/*
.imagePost {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}*/

.imagePost {
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#actionTitle {
    text-align: center;
    color: rgb(0, 89, 212);
    margin-top: 50px;
    margin-bottom: 20px;
}

.scrollPost {
    height: auto;
    /*overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: auto;
    scrollbar-gutter: stable;*/
}

.scrollPostV2 {
    height: fit-content;
    max-height: 150vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.addModifyPost {
    text-align: center;
}

#savePost {
    margin-right: 20px;
    width: 100px;
}

#cancel {
    margin-left: 20px;
    width: 100px;
}

.textAreaDescriptionPost {
    height: 300px;
    max-height: 500px;
    margin-bottom: 20px;
}

.textNoPostPound {
    font-size: 25px;
}

.textNoPostPound_BoldPart {
    font-size: 25px;
    font-weight: bold;
}

.textNoPostPound_FilterInfosPart {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 89, 212);
}

.textNoPostPoundContainer {
    padding: 20px;
}

.deletePostImageContainer {
    display: flex;
    width: 80%;
    height: 40vh;
    flex-direction: column;
    margin: 0 auto;
}

.descriptionPostDeleteForm{
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

.categoryPostDeleteForm {
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 106, 255);
    text-align: center;
}

@media screen and (max-height:1100px) {

    .scrollPostV2 {
        max-height: 80vh;
    }
}

@media screen and (max-height:1000px) {

    .scrollPostV2 {
        max-height: 75vh;
    }
}

@media screen and (max-height:900px) {

    .scrollPostV2 {
        max-height: 70vh;
    }
}

@media screen and (max-height:700px) {

    .scrollPostV2 {
        max-height: 66vh;
    }
}

@media screen and (max-height:600px) {

    .scrollPostV2 {
        max-height: 59vh;
    }
}

@media screen and (max-height:500px) {

    .scrollPostV2 {
        max-height: 54vh;
    }
}
