.postContainer {
    display: flex;
    flex-direction: column;
    /*border: 1px black solid;*/
    /*padding: 4px;*/

    padding: 8px;
    padding-bottom: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.globalTopInformationsContainer {
    display: flex;
    flex-direction: row;
}

.topInformationsContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.imageAndDateContainer {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
}

.iconsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
}

.titlePostContainer {
    flex: 1;
    font-weight: 100;
    font-weight: bold;
    font-size: 30px;
}

.dateLastModificationPost {
    font-size: 15px;
}

.icon {
    padding: 10px;
    font-size: 30px;
    color: rgb(0, 106, 255);
}

.categoryPost {
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 106, 255);
}

.descriptionPost {
    font-size: 25px;
}

.seeMoreDescriptionPost {
    width: fit-content;
    text-align: center;
    text-decoration:underline;
    color: rgb(119, 119, 119);
    cursor: none;
    margin-left: auto;
    margin-right: auto;
}

.seeMoreDescriptionPost:hover {
    cursor: pointer;
}

.text {
    font-family: "Roboto", sans-serif;
}

/*
.imagePost {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}*/

.imagePost {
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#actionTitle {
    text-align: center;
    color: rgb(0, 89, 212);
    margin-top: 30px;
}

